body {
  margin: 0px auto;
}

h1,
h2,
h3,
p,
button,
input {
  font-family: 'Work Sans', sans-serif;
  margin: 0px;
}

h1 {
  font-weight: 700;
  font-size: 5.653rem;
}

h2 {
  font-size: 3.998rem;
}

h3 {
  font-size: 0.707rem;
}
