/* general */

body {
  margin: 0px auto;
  background-color: var(--clr-primary);
}

h1,
h2,
h3,
h4,
p,
button,
input {
  font-family: var(--ff-primary);
  margin: 0px;
}

h1 {
  font-weight: 700;
  font-size: 5.653rem;
  line-height: 1.25em;
}

h2 {
  font-size: 3.998rem;
}

h3 {
  font-size: 1.777rem;
  font-weight: 300;
}

h4 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  font-weight: 300;
  color: var(--clr-accent);
  margin-bottom: 5px;
}

h4 + p {
  font-size: 1.414rem;
  color: var(--clr-secondary);
}

@media (max-width: 920px) {
  h4 + p {
    font-size: 1.125rem;
  }
}

@media (max-width: 780px) {
  h4 + p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  h4 + p,
  p {
    font-size: 0.707rem;
  }
}

/* button */

button {
  transition: 0.3s;
  cursor: pointer;
}

.button-primary,
.button-secondary {
  font-size: 1.125rem;
  border-radius: 100px;
  padding: 16px 32px;
}

.button-primary {
  color: var(--clr-off-white);
  background-color: var(--clr-button-primary);
  border: none;
}

.button-primary:hover {
  background-color: var(--clr-button-primary-hover);
}

.button-secondary {
  background-color: transparent;
  color: var(--clr-off-white);
  border: 2px solid var(--clr-button-secondary);
}

.button-secondary:hover {
  background-color: var(--clr-button-secondary-hover);
}
