.home-page {
  height: 100vh;
  padding-inline: 175px;
}

.home-page h1 {
  color: var(--clr-secondary);
}

.home-page p {
  color: var(--clr-accent);
  font-weight: 300;
}

.home-page button {
  color: var(--clr-off-white);
  width: 144px;
  padding: 16px;
  border: 2px solid var(--clr-off-white-transparent);
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.1em;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.home-page button:hover {
  border-color: var(--clr-off-white);
  background-color: var(--clr-button-secondary-hover);
}

.home-page h1 {
  margin-bottom: 16px;
}

.home-page p {
  font-size: 1.414rem;
  margin-bottom: 128px;
}

.home-page__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
}

@media (max-width: 920px) {
  .home-page {
    padding-inline: 10%;
  }

  .home-page h1 {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .home-page__heading {
    text-align: center;
    align-items: center;
  }

  .home-page p {
    font-size: 0.9rem;
    margin-bottom: 64px;
  }

  .home-page h1 {
    font-size: 2.25rem;
  }
}
