.home-page {
  height: 100vh;
  padding-inline: 175px;
  background-color: var(--clr-primary);
}

.home-page h1,
.home-page p,
.home-page button {
  color: var(--clr-off-white);
}

.home-page button {
  width: 144px;
  padding: 16px;
  border: 2px solid var(--clr-off-white-transparent);
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.05rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.home-page button:hover {
  border-color: var(--clr-off-white);
}

.home-page h1 {
  margin-bottom: 16px;
}

.home-page p {
  font-size: 1.414rem;
  margin-bottom: 128px;
}

.home-page__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
}

@media (max-width: 920px) {
  .home-page {
    padding-inline: 10%;
  }

  .home-page h1 {
    font-size: 5rem;
  }
}

@media (max-width: 780px) {
  .home-page {
    height: fit-content;
    padding-block: 64px;
    padding-inline: 10%;
  }
  .home-page h1 {
    font-size: 3rem;
  }

  .home-page p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .home-page {
    padding-block: 32px;
  }

  .home-page p {
    margin-bottom: 64px;
  }
  .home-page h1 {
    font-size: 1.5rem;
  }
}
