:root {
  --clr-primary: hsl(225, 15%, 14%);
  --clr-secondary: hsl(215, 40%, 70%);
  --clr-accent: hsl(233, 21%, 70%);

  --clr-off-white: hsl(200, 20%, 97%);
  --clr-off-white-transparent: hsla(200, 20%, 97%, 0.8);
  --clr-gray: hsl(215, 0%, 90%);

  --clr-button-primary: hsl(232, 20%, 49%);
  --clr-button-primary-hover: hsl(232, 20%, 63%);
  --clr-button-secondary: var(--clr-secondary);
  --clr-button-secondary-hover: hsla(215, 0%, 70%, 0.2);

  --ff-primary: 'Heebo', sans-serif;

  --section-spacing: 105px;

  font-size: 21px;
}

@media (max-width: 780px) {
  :root {
    --section-spacing: 64px;
  }
}

@media (max-width: 480px) {
  :root {
    --section-spacing: 32px;
  }
}
