.recommendations {
  width: 1280px;
  margin: auto;
  padding: 50px 0px;
  color: #003049;
}

.recommendations > p {
  margin-top: 0px;
  margin-bottom: 50px;
}

.recommendations__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.recommendations__heading h3 {
  max-width: 1000px;
}

.recommendations__heading button {
  height: 56px;
  width: 240px;
  font-size: 1.125rem;
  border: 1px solid black;
  border-radius: 100px;
  cursor: pointer;
}

.recommendations__songs p {
  margin: 0px;
  max-width: 320px;
}

.recommendations__songs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  overflow-x: scroll;
}

.recommendations__songs div.hover-state button {
  display: block;
  background-color: transparent;
  margin-top: 16px;
  border: 1px solid black;
  border-radius: 100px;
  cursor: pointer;
  padding: 8px 16px;
}

.recommendations__songs .song {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 10px 0px;
  padding: 24px;
  text-align: center;
}

.recommendations__songs .song p {
  font-size: 0.707rem;
}

.recommendations__songs .song img {
  width: 320px;
  margin-bottom: 16px;
}

.recommendations__songs .song div {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recommendations__songs .song button {
  display: none;
}

.recommendations__songs .song p:first-child {
  font-size: 1.125rem;
  margin-bottom: 4px;
  text-align: center;
}
