.recommendation-page__recommendations {
  background-color: var(--clr-secondary);
}

.recommendation-page__heading {
  padding: 105px 175px;
}

@media (max-width: 920px) {
  .recommendation-page__heading {
    padding-inline: 10%;
  }
}

@media (max-width: 780px) {
  .recommendation-page__heading {
    padding-block: 64px;
  }
}

@media (max-width: 480px) {
  .recommendation-page__heading {
    padding-block: 32px;
  }
}
