.results {
  font-size: 0.707rem;
  overflow: hidden;
}

.results > p {
  margin-top: 16px;
}

.results .song {
  cursor: pointer;
  padding: 20px;
}

.results__songs {
  max-height: 400px;
  overflow-y: scroll;
  /* box-shadow: rgba(122, 129, 135, 0.479) 0px 8px 24px; */
  border: 1px solid #d9d9d9;
  border-radius: 0 0 16px 16px;
}

.results__songs::-webkit-scrollbar {
  overflow: hidden;
}
