.results {
  font-size: 0.707rem;
  overflow: hidden;
}

.results > p {
  margin-top: 16px;
}

.results .song {
  cursor: pointer;
  padding: 20px;
}

.results__songs {
  max-height: 500px;
  width: inherit;
  overflow-y: scroll;
  border-top: 1px solid var(--clr-primary);
  border-radius: 0 0 16px 16px;
}

.results__songs::-webkit-scrollbar {
  overflow: hidden;
  width: 0;
}

.results__songs .song {
  background-color: var(--clr-off-white-transparent);
  transition: 0.3s;
}

.results__songs .song:hover {
  background-color: var(--clr-gray);
}

@media (max-width: 480px) {
  .results img {
    width: 32px;
  }

  .results .song {
    padding: 10px;
  }

  .results p {
    font-size: 0.6rem;
  }

  .results__songs {
    max-height: 348px;
  }
}
