.search-page {
  /* padding: 105px 175px; */
  /* min-height: 500px; */
  box-sizing: border-box;
  min-height: 100vh;
  padding: 105px 175px;
  border-bottom: 1px solid #d9d9d9;
}

.search-page > p {
  margin-bottom: 32px;
}
