.search-page {
  box-sizing: border-box;
  min-height: 100vh;
  padding: var(--section-spacing) 10%;
}

.search-page.fit-content {
  min-height: fit-content;
}

.search-page > p {
  margin-bottom: 32px;
}
