.search-page {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 105px 175px;
  border-bottom: 1px solid var(--clr-darker-gray);
}

.search-page > p {
  margin-bottom: 32px;
}

@media (max-width: 920px) {
  .search-page {
    padding-inline: 10%;
  }
}

@media (max-width: 780px) {
  .search-page {
    padding-block: 64px;
    min-height: 30vh;
  }
}

@media (max-width: 480px) {
  .search-page {
    padding-block: 32px;
  }
}
